<html>
<header>
	<meta charset="utf-8">
</header>
<h1>Créer un utilisateur</h1>
<form action="/user/new" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<table>
		<tr>
			<td><label>Username</label></td>
			<td><input type="text" name="username"></td>
		</tr>
		<tr>
			<td><label>e-mail</label></td>
			<td><input type="text" name="email"><br></td>
		</tr>
		<tr>
			<td><label>Biographie</label></td>
			<td><textarea rows="4" cols="50" name="bio"></textarea></td>
		</tr>
		<tr>
			<td><input type="submit" name="envoyer"></td>
		</tr>
	</table>
</form>
</html>
